# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
matplotlib==3.0.3
matplotlib-base==3.1.1
numpy==1.18.1
numpy-base==1.18.1
pandas==0.24.2
scikit-learn==0.21.1
seaborn==
